<div>
    <youtube-player video-id="id" width="300px" height="150px" ng-model="player1">
        <div class="myOverlay">Hello overlay</div>
    </youtube-player>
</div>
<div>
    <button ng-click="player1.playVideo()">Play</button>
    <button ng-click="player1.pauseVideo()">Pause</button>
    <input type="text" ng-model="id"></input>
</div>

<style>
   .myOverlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background: gray;
        width: 100%;
        opacity: 0.9;
   }
</style>