player-bar {
    width: 100%;
    position: relative;
    height: 10px;
    display: block;
}

player-bar .hr-yt-loaded {
    position: absolute;
    top:0;
    z-index: 9;
    width: 0;
    height: 100%;
}


player-bar .hr-yt-played {
    position: absolute;
    top:0;
    z-index: 10;
    width: 0;
    height: 100%;
}

player-bar .hr-yt-handle {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 11;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}