player-progress-bar {
    background-color: rgb(70,70,70);
}

.hr-yt-loaded {
    background-color: rgb(143,143,143);
}
.hr-yt-played {
    background-color: red;
}
.hr-yt-handle {
    background-color: white;
}


.hr-yt-volume-hr-bar {
    background-color: rgb(70,70,70);;

}
.bottom-panel {
    position: absolute;
    bottom: 0;
    height: 36px;
    background: rgba(0,0,0,1);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.bottom-panel.ng-show {
    bottom: 0;
}

.bottom-panel {
    bottom: -37px;
    transition: 0.5s ease-in bottom;
}

.control-element {
    float: left;
    padding: 7px 10px;
}
