/* Progress Bar */
player-progress-bar {
    background-color: rgb(70,70,70);
}

.hr-yt-loaded {
    background-color: rgb(143,143,143);
}
.hr-yt-played {
    background-color: red;
}

.hr-yt-handle {
    background-color: white;
}


/* Volume Bar */
.hr-yt-volume-hr-bar {
    background-color: rgb(143,143,143);
}

.hr-yt-setted {
    background-color: red;
}

/* Control bar (lower panel) */
.bottom-panel {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.bottom-panel.ng-show {
    transform: translateY(0);
}

.bottom-panel {
    transform: translateY(100%);
    transition: 0.5s ease-in transform;
}

.controls {
    line-height: 25px;
    height: 25px;
}
.control-element {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}

/* Hover indicator*/
.hr-hover-indicator {
    background-color: black;
    padding: 1px 6px;
}

/* Playback Speed control */
.dropdown-control-options {
    background-color: black;
    margin: 0 0 0 -50px;
    width: 100px;
    top: auto;
    min-width: initial;
    bottom: 33px;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.dropdown-control .dropdown-menu > li > a {
    color: white;
}

.dropdown-control .dropdown-menu > li > a:hover,
.dropdown-control .dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: rgb(90,90,90);
}
.dropdown-control .dropdown-menu > .active > a,
.dropdown-control .dropdown-menu > .active > a:hover,
.dropdown-control .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgb(65, 65, 65);
  outline: 0;
}

